@page
@model RazorPagesDemo.Pages.Categories.CreateModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
        </div>

        <div class="row mb-3 p-1">
            <label class="p-0" asp-for="Category.Name"></label>
            <input class="form-control" asp-for="Category.Name" />
            <span class="text-danger" asp-validation-for="Category.Name"></span>
        </div>

        <div class="row mb-3 p-1">
            <label class="p-0" asp-for="Category.DisplayOrder"></label>
            <input class="form-control" asp-for="Category.DisplayOrder" />
            <span class="text-danger" asp-validation-for="Category.DisplayOrder"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button class="btn btn-primary form-control" type="submit">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a class="btn btn-outline-secondary border form-control" asp-page="/Categories/Index">Back To List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}